#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}
#title{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
#image{
    transition: opacity 0.5s;
}
#image:hover{
    opacity: 0.8;
}
#img-caption,
h5{
    display: flex;
    justify-content: center;
    align-items: center;
}
h5{
    font-size: 2rem;
}
#tribute-link{
    text-decoration: none;
    margin-right: 1rem;
    transition: color 0.5s, opacity 0.5s;
}
#tribute-link:hover{
    color: orange;
    opacity: 0.7;
}
#img-div {
    background: white;
    padding: 10px;
    margin: 0;
}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}